@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Work+Sans:wght@400;700&display=swap');

/* GERAL */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.hero,
section {
  background-attachment: scroll, fixed;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .legenda {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.is-primary {
  background-color: #A4D5ED !important;
}

.notification.is-warning {
  background-color: #E8D881;
}

.has-text-primary {
  color: #0074AE !important;
}

.hero .notification.is-warning {
  background-color: #0074AE !important;
  color: #fff;
}

.hero.is-primary .title {
  color: #111;
}

.table tr.is-selected {
  background-color: #0074AE !important;
  color: #fff;
}

.is-primary .columns div {
  background: #A4D5ED;
  color: white;
}

.notification.is-primary {
  color: #111;
  padding: 1em;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

.content ul {
  list-style: disc outside;
  margin-left: 0;
  margin-top: 1em;
}

.content ol {
  list-style-position: outside;
  margin-left: 1em;
  margin-top: 1em;
}

.legenda {
  margin-bottom: 3em;
  margin-top: -15px;
}

.hero.is-large .hero-body blockquote {
  padding: 1em;
}

.content figure img {
  margin-bottom: 15px;
  max-height: 85vh;
  width: auto;
}

.content .legenda:last-child {
  margin-bottom: 0 !important;
}

.buttons.om .button {
  height: 20px;
  padding: 0;
  width: 20px;
}

.buttons.om .button a {
  color: white;
  font-size: 0.7em;
  font-weight: 800;
  text-decoration: none !important;
}

/* TEXTO */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

h1 {
  align-items: center;
  color: white;
  margin-bottom: 2.5rem !important;
}

h1 span {
  background-color: #0074AE;
  border-radius: 3px;
  box-shadow: 4px 4px 1px #333333;
  color: #fff;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 0.75rem;
  margin-bottom: 10px;
  padding: 7px;
}

.content .legenda h6:first-child {
  background-color: transparent;
  color: #0074AE;
  margin-bottom: 1rem;
  padding: 0;
  word-break: break-all;
}

.content .legenda h6 {
  background-color: #0074AE;
  border-radius: 3px;
  color: #fff;
  font-weight: 400 !important;
  padding: 10px;
}

.hero .legenda h6,
blockquote strong {
  color: white;
}

.notification.is-primary h3 {
  background: #0074AE;
  color: white;
  margin-bottom: 30px;
  margin-top: -35px;
  padding: 10px;
  transform: rotate(-5deg);
  width: fit-content;
}

.mapa h3 {
  background: #0074AE;
  color: white;
  margin-bottom: 0;
  margin-top: 0 !important;
  padding: 10px;
  transform: rotate(0) !important;
  width: fit-content;
}

h6 span {
  word-break: break-all;
}

li {
  font-weight: 700;
  margin-bottom: 5px;
}

li>* {
  font-weight: 400;
}

.lista-parenteses ol {
  counter-reset: parenteses;
  list-style: none;
}

.lista-parenteses ol li {
  counter-increment: parenteses;
}

.lista-parenteses ol li::before {
  content: counter(parenteses, lower-alpha) ") ";
}

.credito-img {
  background-color: white;
  color: #111;
  font-size: 0.6em;
  opacity: 0.8;
  padding: 1px 3px;
  position: absolute;
  right: 1%;
  top: 1%;
}

/* ABERTURA */
.abertura {
  margin-top: -25vh;
  padding-bottom: 0;
  position: relative;
}

.abertura .column {
  background-color: white;
  border-radius: 15px 15px 0 0;
  padding: 40px 80px 0;
}

.abertura h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.abertura p {
  margin-bottom: 1em;
}

.abertura .ponto-partida {
  border-top: 3px solid #111;
  padding: 30px 30px 0;
}

.abertura .title {
  color: #0074AE;
}

/* EXERCÍCIOS */
textarea {
  background-color: white !important;
  font-family: 'Work Sans', sans-serif;
  margin: 15px 0 25px;
}

.textarea:active,
.textarea:focus {
  border-color: #555;
  box-shadow: 0px 0px 3px #999;
}

@media only screen and (min-width: 769px) {
  #cap1 {
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 560px) {
  .abertura .column {
    padding: 10px 15px 0;
  }

  .hero.is-large .hero-body {
    height: 45vh;
  }

  .abertura .ponto-partida {
    padding: 30px 0 0;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem !important;
  }

  ul,
  ol {
    padding-left: 15px;
  }
}

.buttons.om {
  display: inline-block;
}

.buttons.om .button {
  background-color: #0074AE;
  height: 20px;
  padding: 0;
  width: 20px;
}

.buttons.om .button a {
  color: white;
  font-size: 0.7em;
  font-weight: 800;
  text-decoration: none !important;
}

.columns:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

.table td.is-selected, .table th.is-selected {
  background-color: #0074AE;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.cross {
  position: relative;
  display: inline-block;
}

.cross::before {
  content: '';
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
}

.cross::before {
  border-bottom: 2px solid red;
  -webkit-transform: skewY(-30deg);
  transform: skewY(-30deg);
}